:root {
    color: antiquewhite;
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    
}

body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: bisque;
    box-shadow: 5px 10px 10px gray;
    padding: 7px;
    
}

ul {
    display: flex;
    gap: 5px;
    justify-content: center;
}

header button {
    background-color: beige;
    width: 150px;
    border: 0.5px solid rgb(199, 245, 130);
    padding: 5px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
    font-size: 1.2em;
}

header button:hover {
    cursor: pointer;
    background-color: rgb(209, 252, 143);
    border-radius: 7px;
    font-size: 1.4em;
    color: palevioletred;
    
}


.homepagediv {
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-bottom: 95px;
    color: red;
    background-color: rgb(248, 244, 232);
    height: 100%;
    margin-top: 20px;

}

.meal {
    border-radius: 100px;
    width: 400px;
    height: 450px;
}

.homecenterdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    height: 400px;
}

.restaurantname {
    font-family: 'Merriweather', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6.4em;
    color: rgb(252, 193, 121);
    font-weight: bolder;
}

.cafeteria {
    text-align: center;
    font-size: 3.4em;
}

.innertext {
    font-size: 2.4em;
    width: 300px;
    text-align: center;
}

.menudiv {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menuinner {
    display: flex;
    gap: 20px;
    width: 600px;
    height: 600px;
    background-color: rgb(252, 252, 234);
    margin-top: 20px;
    box-shadow: 5px 10px 10px gray;
    border-radius: 20px;
}


.menuimage {
    width: 40%;
    border-right: 4px solid brown;
}

.menuitemscont {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
    color: brown;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: brown;
    font-weight: bolder;
    font-size: 2.0em;
    margin: 20px 0 20px 0;
}

.itemtitle {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    margin: 10px 0 10px 0;
}